.--food{
  fill: white;
  background-color: orangered;
}
.--money{
  fill:white;
  background-color: #ffd700;
}
.--communication{
  fill:white;
  background-color:greenyellow;
}
.--funny{
  fill:white;
  background-color: pink;
}
.--shop{
  fill:white;
  background-color: mediumpurple;
}
.--hotel{
  fill:white;
  background-color:cadetblue;
}
.--traffic{
  fill:white;
  background-color:dodgerblue;
}
.--redpacket{
  fill:white;
  background-color:red;
}
.--education{
  fill:white;
  background-color:cornflowerblue;
}
.--medical{
  fill:white;
  background-color:green;
}
.--trip{
  fill: white;
  background-color: darkgreen;
}
.--debts{
  fill: white;
  background-color: darkolivegreen;
}
.--give{
  fill: white;
  background-color:peru ;
}
.--invest{
  fill: white;
  background-color:#eeee33 ;
}
.--other{
  fill: white;
  background-color: #999;
}
.--salary{
  fill: white;
  background-color: #cc3333;
}
.--matter{
  fill: white;
  background-color: gold;
}
.--borrow{
  fill: white;
  background-color: darkorange;
}
.--collect{
  fill: white;
  background-color: coral;
}